body {
  position: relative;
  min-height: 100vh;
  @include col;
  align-items: center;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.landing {
  position: relative;
  overflow-x: hidden;
}

.features {
  position: relative;
  margin-top: 120px;
  overflow-x: hidden;
}

.testimonials {
  position: relative;
  margin: 132px 0;
}

.signup {
  position: relative;
  margin-bottom: -$card-height / 2;
  overflow-x: hidden;
  @include _1024 {
    margin-bottom: -$card-height-desktop / 2;
  }
}

footer {
  position: relative;
  overflow-x: hidden;
}
