.features {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  padding: 0 18px;
  .flex-container {
    @include flexCenter;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 920px;
    .feature {
      margin-bottom: 120px;
      @include flexCenter;
      flex-direction: column;
      h2 {
        margin-bottom: 12px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.04em;
        @include _600 {
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0;
        }
      }
      p {
        font-family: $secondary-font;
        width: 85%;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 135%;
        text-align: center;
        letter-spacing: -0.04em;
        @include _600 {
          line-height: 150%;
          letter-spacing: 0em;
        }
      }
      img {
        margin-bottom: 40px;
        width: 64px;
      }
    }
    @include _600 {
      .feature:nth-child(1),
      .feature:nth-child(4) {
        p {
          width: 354px;
        }
      }
      .feature:nth-child(2),
      .feature:nth-child(3) {
        p {
          width: 384px;
        }
      }
    }
  }
  .productivity {
    @include flexCenter;
    flex-direction: column;
    &__graphic {
      @include flexCenter;
      flex-direction: column;
      img {
        width: 90%;
      }
    }
    &__info {
      margin-top: 48px;
      max-width: 400px;
      h2 {
        width: 100%;
        margin-bottom: 12px;
        margin-right: auto;
        font-family: $main-font;
        font-weight: 700;
        font-weight: bold;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: -0.01em;
        @include _600 {
          font-size: 40px;
          line-height: 122.5%;
          letter-spacing: 0.005em;
        }
      }
      p {
        font-family: $secondary-font;
        width: 100%;
        max-width: 296px;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.0425em;
        @include _600 {
          max-width: 560px;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0;
        }
      }
      a {
        font-family: $secondary-font;
        position: relative;
        width: fit-content;
        margin-top: 16px;
        @include flexCenter;
        justify-content: start;
        color: $cyan-cta;
        border-bottom: 1px solid $cyan-cta;
        padding-bottom: 6px;
        @include _600 {
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
        }
        img {
          margin-left: 8px;
        }
      }
    }
  }
}
