.features1 {
  margin-top: 120px;
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  padding: 0 18px;
  .feature {
    margin-bottom: 120px;
    @include flexCenter;
    flex-direction: column;
    img {
      margin-bottom: 40px;
    }
    h2 {
      margin-bottom: 12px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.04em;
    }
    p {
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: -0.02em;
      line-height: 150%;
    }
  }
}
