.landing {
  width: 100vw;
  @include flexCenter;
  flex-direction: column;
  background-color: $main-bg;
  .intro {
    @include flexCenter;
    flex-direction: column;
    width: 100vw;
    background-image: url(/images/bg-curvy-mobile.svg);
    background-color: $intro-email;
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    @include _600 {
      background-image: url(/images/bg-curvy-desktop.svg);
    }
    @include _1440 {
      background-size: 100% 50%;
    }
    &__graphic {
      margin-top: 24px;
      @include flexCenter;
      flex-direction: column;
      img {
        width: 85%;
      }
    }
    &__header {
      margin-top: 32px;
      width: 80%;
      @include flexCenter;
      flex-direction: column;
      @include _768 {
        width: 90%;
      }
      h1 {
        max-width: 300px;
        font-weight: bold;
        font-size: 2.3rem;
        line-height: 141.5%;
        text-align: center;
        letter-spacing: -0.02em;
        @include _600 {
          font-size: 3rem;
          max-width: 480px;
        }
        @include _768 {
          max-width: 712px;
          font-size: 4rem;
          line-height: 150%;
          letter-spacing: 0.005em;
        }
      }
    }
  }
  .cta {
    @include flexCenter;
    flex-direction: column;
    p {
      width: 75%;
      max-width: 360px;
      margin-top: 16px;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.01em;
      @include _600 {
        max-width: 500px;
      }
      @include _768 {
        width: 100%;
        max-width: 620px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }
    button {
      margin-top: 28px;
      @include btnReset;
      color: $white;
      height: 44px;
      width: 218px;
      background-color: $cyan-cta;
      border-radius: 22px;
      font-weight: bold;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.01em;
      @media (hover: hover) {
        &:hover {
          background-color: $cyan-cta-hover;
        }
      }
      @include _768 {
        font-size: 16px;
        letter-spacing: 0;
        height: 56px;
        width: 280px;
        border-radius: 28px;
      }
    }
  }
}
