.landing {
  @include flexCenter;
  flex-direction: column;
  .intro {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    background-image: url(/images//illustration-intro.png), url(/images/bg-curvy-mobile.svg);
    background-color: $intro-email;
    background-position: 50% 32.5%, 50% 100%;
    background-size: 82.5%, contain;
    background-repeat: no-repeat, no-repeat;
    height: 46vh;
    @include _768 {
      background-image: url(/images//illustration-intro.png), url(/images/bg-curvy-desktop.svg);
    }
  }
  header {
    margin-top: -72px;
    width: 80%;
    h1 {
      font-size: 2.3rem;
      line-height: 141.5%;
      text-align: center;
      letter-spacing: -0.02em;
    }
  }
  .cta {
    background-color: $main-bg;
    @include flexCenter;
    flex-direction: column;
    p {
      width: 65%;
      margin-top: 16px;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 144.5%;
      text-align: center;
      letter-spacing: -0.01em;
      @include _768 {
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }
    button {
      margin-top: 28px;
      @include btnReset;
      color: $white;
      height: 44px;
      width: 218px;
      background-color: $blue-cta;
      border-radius: 20px;
    }
  }
}
