.navbar {
  width: 100%;
  @include row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $intro-email;
  @include _600 {
    padding: 48px;
  }
  &__logo {
    img {
      height: 20px;
    }
  }
  &__list {
    @include row;
    align-items: center;
    &__items {
      margin-left: 20px;
      font-family: $main-font;
      font-weight: 400;
      font-size: 11px;
      line-height: 135%;
      @include _600 {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
      }
    }
  }
}
