.signup {
  @include flexCenter;
  flex-direction: column;
  &__card {
    z-index: 1;
    @include flexCenter;
    flex-direction: column;
    justify-content: space-evenly;
    width: 304px;
    height: $card-height;
    background-color: $intro-email;
    border-radius: 8px;
    padding: 12px 28px 0;
    @include _1024 {
      height: $card-height-desktop;
    }
    h2,
    p,
    button {
      text-align: center;
    }
    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 145%;
      text-align: center;
      letter-spacing: -0.01em;
    }
    form {
      @include flexCenter;
      flex-direction: column;
      @include _1024 {
        flex-direction: row;
      }
      input {
        width: 254px;
        height: 44px;
        border-radius: 22px;
        padding-left: 24px;
        color: gray;
        &:focus {
          outline: none;
        }
      }
      button {
        margin-top: 22px;
        @include btnReset;
        background-color: $cyan-cta;
        color: $white;
        width: 254px;
        height: 44px;
        border-radius: 22px;
      }
    }
  }
}
