.testimonials {
  width: 100vw;
  @include flexCenter;
  flex-direction: row;
  flex-wrap: wrap;
  &__card {
    position: relative;
    margin: 22px;
    padding: 24px 18px 18px;
    height: 70%;
    width: 70%;
    max-width: 254px;
    max-height: 145px;
    background-color: $testimonials;
    border-radius: 4px;
    @include _500 {
      max-width: 360px;
      max-height: 200px;
    }
    &__graphic {
      position: absolute;
      top: -18px;
      left: 2px;
      z-index: 5;
      width: 24px;
    }
    &__quote {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 10px;
      line-height: 160%;
      letter-spacing: -0.045em;
      @include _500 {
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0;
      }
    }
    &__user {
      height: 32px;
      margin-top: 10px;
      @include flexCenter;
      justify-content: flex-start;
      font-family: $secondary-font;
      @include _500 {
        height: 34px;
      }
      img {
        width: 24px;
        margin-right: 8px;
        border-radius: 50%;
        @include _500 {
          width: 28px;
        }
      }
      &__info {
        @include col;
        align-self: flex-start;
        &__name {
          font-size: 10px;
          font-weight: 700;
          margin-bottom: 4px;
          @include _500 {
            font-size: 12px;
            margin-bottom: 0%;
          }
        }
        &__role {
          font-size: 8px;
          @include _500 {
            font-size: 10px;
          }
        }
      }
    }
  }
}
